
*.jpg
*.ico
*.pdf
__pycache__/Report_creator.cpython-37.pyc
base.xlsx
build/Relatorio_extract/Analysis-00.toc
build/Relatorio_extract/base_library.zip
build/Relatorio_extract/EXE-00.toc
build/Relatorio_extract/PKG-00.pkg
build/Relatorio_extract/PKG-00.toc
build/Relatorio_extract/PYZ-00.pyz
build/Relatorio_extract/PYZ-00.toc
build/Relatorio_extract/Relatorio_extract.exe.manifest
build/Relatorio_extract/Tree-00.toc
build/Relatorio_extract/Tree-01.toc
build/Relatorio_extract/Tree-02.toc
build/Relatorio_extract/warn-Relatorio_extract.txt
build/Relatorio_extract/xref-Relatorio_extract.html
*.exe
*.txt
*.spec
